<%= form_with(model: volunteer) do |form| %>
  <% if volunteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

      <ul>
        <% volunteer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "row">
    <div class="field mb-3 col form-group">
      
      <%= form.text_field :Jméno, class:"form-control", placeholder:"Jméno" %>
    </div>
    <div class="field mb-3 col form-group">
      
      <%= form.text_field :Příjmení, class:"form-control", placeholder:"Příjmení" %>
    </div>
  </div>
  <div class = "row">
    <div class="field mb-3 col form-group">
      
      <%= form.text_field :Mail, class:"form-control", placeholder:"Mail" %>
    </div>

    <div class="field mb-3 col form-group">
      
      <%= form.text_field :Telefon, class:"form-control", placeholder:"Telefon" %>
    </div>
  </div>

  <div class="actions mb-3">
    <%= form.submit class:"btn btn-dark"%>
  </div>
<% end %>
