<%= form_with(model: volunteer) do |form| %>
  <% if volunteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

      <ul>
        <% volunteer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Příjmení %>
    <%= form.text_field :Příjmení %>
  </div>

  <div class="field">
    <%= form.label :Jméno %>
    <%= form.text_field :Jméno %>
  </div>

  <div class="field">
    <%= form.label :Mail %>
    <%= form.text_field :Mail %>
  </div>

  <div class="field">
    <%= form.label :Telefon %>
    <%= form.text_field :Telefon %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
