<p id="notice"><%= notice %></p>

<p>
  <strong>Jméno:</strong>
  <%= @client.Jméno %>
</p>

<p>
  <strong>Příjmení:</strong>
  <%= @client.Příjmení %>
</p>

<p>
  <strong>Město:</strong>
  <%= @client.Město %>
</p>

<p>
  <strong>Ulice:</strong>
  <%= @client.Ulice %>
</p>

<p>
  <strong>Čp:</strong>
  <%= @client.ČP %>
</p>

<p>
  <strong>PsČ:</strong>
  <%= @client.PSČ %>
</p>

<p>
  <strong>Poznámka:</strong>
  <%= @client.Poznámka %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
